<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Escolha</title>
    <link href="../assets/estilo.css" rel="stylesheet">
    <style>
        main {
            display: inline-block;
        }

        h1 {
            color: white;
            margin-top: 8%;
            font-size: 50px;
            
        }
        div {
            display: flex;
        }

        button {
            margin: 7% 10% 0% 10%;
            height: 100%;
            background: white;
            color: rgba(84,5,194,1);
            font-size: 17px;
            font-weight: 600;
        }

    </style>
</head>
<body>
    <main>
        <h1>Cadastre</h1>
        <div>
            <button onclick="window.location.href='usuario.html'">Usuário</button>
            <button onclick="window.location.href='cadastro.html'">Itens</button>
        </div>
    </main>
</body>
</html>