<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../assets/estilo.css" rel="stylesheet">
</head>
<body>
    <main>
        <form id="form_usuario">
            <h1>Cadastre Usuário </h1>
            <p>Cadastre um novo usuário para ele fazer login!</p>
            <div>
                <label for="login">Login</label>
                <input type="text" name="login" id="login">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">
            </div>
            <button>Cadastrar</button>
        </form>
    </main>

    <script src="../js/usuario.js"></script>
</body>
</html>